#mainContent{
    padding-top: 10px;
}

#chatMessages{
    line-height: 1.5;
    margin-left: .5em;
    padding: .5em 0em;
    width: 100%;
}

.left{
    width: 80%;
}

.right{
    width: 15%;
}

#newMessage{
    margin-left: 1em;
    width: 80%;
}

/* Formating the chat content */
.daysPassed{
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
}

#messages, .daysPassed{
    line-height: 1.5;
}

/* Formating the iframe */

iframe{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 0px;
}
