form{
    line-height: 2;
    width: 90%;
}

form table{
    line-height: 1.5;
    width: 100%;
}

fieldset{
    border-width: .5px;
    margin: .5em 1em;
    padding-bottom: 1em;
    padding-top: .5em;
}

fieldset *{
    margin-left: 1em;
}

legend{
    font-weight: bold;
    text-decoration: underline;
}

/* Formating the input methods */
input{
    width: 40%;
}

textarea{
    margin-left: 1em;
    padding: 3px;
    width: 80%;
}

select{
    color: black;
    min-width: 10em;
}

button{
    background-color: gray;
    border: 2px solid black;
    border-radius: 1em;
    min-width: 5em;
    margin-top: .2em;
    padding: .1em .3em;
}