/*IDs*/
#mDate{
    margin-right:0.5em;
    margin-top:-1.5em;
    float: right;
}

#messageContent{
    text-align: justify;
}

/* Foramating the mail listing*/
#mailTable *{
    border-left: 0px;
    border-right: 0px;
}

#mailTable thead tr *{
    border-bottom-width: 4px;
}

#mailTable tbody{
    line-height: 1.75;
}

/* Classes */
.u{
    text-decoration: underline;
}

.unread{
    font-weight: bold;
    font-size: 110%;
}

.delete, .delete a{
    color: red;
    text-decoration: none;
}

/* Tags */
thead{
    text-decoration: none;
}

tbody td a{
    text-decoration: none;
}
