/* IDs */
#allMarks{
}

/* Classes */
.bold{
    font-weight: bold;
}

.red, .yellow, .green{
    padding: 0em 1em;
    color:black;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

/* Tags */
table, td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width:90%;
    text-align: center;
    margin:auto;
}

thead{
    font-weight: bold;
}
