/* Menu Bar */
nav{
    line-height: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    text-align: center;
}

#menu{
    display: block;
}

#menu ul{
    list-style: none;
}

#menu ul li{
    background-color: #C1C09F;
    display: inline;
    float: left;
}

#menu ul li:hover ul{
    background-color: #797863;
    display:block;
}

#menu ul li a{
    display: block;
    padding: .5em;
    text-decoration: none;
}

#menu ul li ul{ display: none; }

#menu ul li ul li{
    display: block;
    width: 100%;
}